.parentDiv{
    padding: 30px;
}

.no-data{
    color: black;
    font-size: 25px;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 40%;
    left: 20%;
    align-items: center;
}
.error-icon{
    height: 50px !important;
    width: 50px !important;
    margin-right: 10px;
}